* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

/* header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
}

.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nameLogo {
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1d6366;
}

#img {
  width: 40%;
}

.headerRight {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: right;
  color: #1d6366;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hr1 {
  height: 0.3rem;
  background-color: #335b87;
  border: none;
}

/* object */

.object {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}

.objectLogo {
  width: 18%;
  border-radius: 5px;

}

.objectName {
  font-weight: bold;
  display: flex;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: inherit;
  flex-direction: column;
  gap: 0.2rem;
}

.demande {
  color: #011b8fcc;
}

.finance {
  font-style: italic;
  color: #01af32;
}

.program {
  display: flex;
  padding-top: 1rem;
  padding-top: 1rem;
}

#nom:focus {
  outline: none;
}

#nom {
  border: none;
  font-size: 16px;
  padding: 3px;
  width: 450px;
}

.allBody {
  width: 80%;
  margin: 0 auto;
}

#JRM {
  font-style: italic;
}

/* tableau */
.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}

.top1 {
  display: flex;
  border: 1px solid black;
}

.demandeur {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  padding: 10px;
  background-color: #daddee;
}

.ligne-noire-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 80%;
}

.ligne-noire-input input[type="text"] {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  width: 50%;
  font-size: 16px;
  padding-left: 0.3rem;
  background-color: transparent;
  outline: none;
}

.form1 {
  border-left: 1px solid #000;
  width: 100%;
  width: fit-content;
  padding: 10px;
}

.top2 {
  display: flex;
}

.none {
  padding: 2rem;
}

.top21 {
  gap: 6rem;
  background-color: #ebeff8;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.dateVille {
  display: flex;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.table {
  display: flex;
}

#sup {
  font-size: smaller;
}

.table2Left {
  justify-content: center;
  background-color: #daddee;
  justify-content: center;
  flex: 1;
}

#texte {
  border-bottom: 1px solid #000;
  padding-top: 0.5rem;
  height: 60px;
  text-align: center;
}

.top21 {
  padding-top: 1.5rem;
}


.nomPrenom,
.top21,
.sexe {
  justify-content: center;
  text-align: center;
  font-size: smaller;
  border: 1px solid #000;
  width: 100%;
}

.revenu {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 100%;
}

#revenuFinancier {
  text-align: center;
  padding: 1rem;
}

.lastDiv {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid #000;
}

.information {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0.5rem;
}
.addresseEmailTel {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.lastRight {
  display: flex;
  flex: 1;
  justify-content: center;
  border-top: 1px solid #000;
}

.lastLeft {
  display: flex;
  flex: 1;
}

.engagement {
  padding: 2rem;
}

 .engagement,
.jointe,
.decision,
.note {
  flex: 1;
  padding: 6px;
  padding-left: 3rem;

}

.decision, .note {
  border-left: 1px solid #000;

}

.decision {
  padding-top: 1.09rem;
}  

 #Certificat {
  text-align: center;
  font-size: 10px;
}

.signature {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}


#demande, .mention {
  font-size: 10px;
}

#BoiteP {
  text-align: center;
  padding-top: 2rem;
  font-size: 11px;
}

.hr3 {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: center;
}

#hr31 {
  width: 15%;
  background-color: #335b87;
  height: 7px;
}

#hr32 {
  height: 15px;
  width: 74%;
  background-color: none;
}

#hr33 {
  height: 7px;
  width: 15%;
  background-color: #335b87;
}

#registration {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
} 